name: go-cicdpipeline
on: push
jobs:
  test:
    strategy:
      metrix:
        go-version: [1.17.x,1.18.x,1.19.x]
        platform: [ubuntu-latest,macos-latest,windows-latest]
    runs-on: ${{ metrix.platform }}
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ metrix.go-version }}
      - name: Run Unit Tests
        run: go test